<html>
    <body>
        <div style="text-align: center;">
            <form action="/views/post/update" method="post">
                <table align="center" border="5"pospx">
                    <tr><td><h4>Student Information</h4></td></tr>
                    <tr><td><input type="text" name="title" placeholder="Title"></td></tr>
                    <tr><td><input type="text" name="content" placeholder="Content"></td></tr>
                    <tr><td><input type="text" name="imageurl" placeholder="ImageUrl"></td></tr>
                    <!-- <tr><td><input type="text" name="Alternative_Contact" placeholder="NAME"></td></tr>
                    <tr><td><section name="country">
                        <option>Please select country</option>
                    </section></tr></td>
                    <tr><td><section name="state">
                        <option>Please select state</option>
                    </section></tr></td>-->
                     <tr><td><input type="text" name="category" placeholder="Category"></td></tr>
                    <tr><td><input type="text" name="userid" placeholder="Userid"></td></tr>
                     <!--<tr><td><input type="date" name="DOB" placeholder="DOB"></td></tr>
                    <tr><td><input type="file" name="image" placeholder="UPLOADE_IMAGE"></td></tr>-->
                    <tr><td><button type="submit" value="submit"/>submit</button></td></tr>
                </table>
            </form>
        </div>
    </body>
</html>